@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<h3>
AppTitle:@ViewBag.ApplicationTitle
AppVersion:@ViewBag.ApplicationVersion
Amount:@ViewBag.Amount
</h3>

<p>
    To learn more about ASP.NET MVC visit 
    <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

