<h3>   
    AppTitle:@ViewBag.ApplicationTitle <BR />
    AppVersion:@ViewBag.ApplicationVersion <BR />
    <BR />
    SupportedDays:
    @foreach (var d in ViewBag.SupportedDays) {
        @: @d,
    }
    <BR />
    @foreach (var u in ViewBag.Users) {
        @: User:@u<br/>
    }
</h3>

